
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    /*esconde o que sair da div*/
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
    /*a partir da borda esquerda, subtrai a porcentagem do elemento pai (1200px) do valor fixo de 30px
    
    Se o contêiner pai tem uma largura de 1200 px:
    50% seria 600 pixels.
    calc(50% - 30px) seria 600px - 30px, que resulta em 570 pixels.
    Portanto, a borda esquerda do elemento ficará a 570 pixels da borda esquerda do contêiner pai.
    */
    
}


.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    /*maior controle sobre a posição e o alinhamento dos elementos filhos dentro de um container flexível.*/
    display: flex;
    /*uma barreira embaixo da outra*/
    flex-direction:column;
    /*é útil quando você deseja distribuir itens de forma que haja espaço igual entre eles, mas não nas bordas do contêiner.*/
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}
